body {
	margin-bottom: 60px;
	background-color: #27576B;
	color: #022636;
}

h1 {
	color: #022636;
}

p {
	color: #27576B;
	font-size: 1.25em;
}

a {
	color: #6E91A1;
}

.row {
	margin-top: 10px;
	margin-bottom: 10px;
}

.below-navbar {
	margin-top: 100px;
}

.navbar {
	background-color: #6E91A1;
}

.navbar-header .navbar-brand {
  	color: #103D50;
}

.navbar-default .navbar-nav > li > a {
  	color: #103D50;
}

.project-row {
	background-color: #022636;
  	margin-bottom: 20px;
}

.footer {
	color: #6E91A1;
}

.header {
	color: #6E91A1;
}

.header-row {
	background-color: #467386;
}

.project-info {
	font-size: 1.5em;
}