body {
  font-family: 'Play', sans-serif;
}

.navbar container {
  border-bottom: 2px solid #090909;
}

#main-container {
  margin-top: 50px;
  background-color: #1a1a1a;
  color: #dedede;
}

#page-title {
  padding-top: 240px;
  padding-bottom: 400px;
}

#page-title-social-links {
  margin-top: 40px;
}

#page-title-social-links li {
  background-color: #dedede;
  padding: 8px;
  border: 2px solid #090909;
  border-radius: 4px;
}

#page-title-social-links li a {
  color: #1a1a1a;
}

#about-section {
  padding-top: 240px;
  margin-bottom: 160px;
}

#about-bio-blurb {
  padding-left: 40px;
  padding-right: 40px;
}

#my-face {
  border: 2px solid #090909;
}

.shield-image {
  max-height: 120px;
}

#my-portfolio {
  padding-top: 200px;
  margin-bottom: 320px;
}

#my-portfolio h2 {
  padding-bottom: 10px;
}

#my-portfolio h3 {
  padding-bottom: 20px;
}

#my-portfolio .row {
  margin-bottom: 40px;
}

.portfolio-caption {
  background-color: #dedede;
  color: #1a1a1a;
  margin-top: 10px;
  padding: 12px 0 8px 0;
}

#contact-section {
  padding: 160px 100px 280px 100px;
}

#contact-social-links {
  margin-top: 25px;
}

#contact-social-links li {
  background-color: #dedede;
  padding: 8px;
  border: 2px solid #090909;
  border-radius: 4px;
}

#contact-social-links li a {
  float: right;
  color: #1a1a1a;
}
